### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# If your build process includes running collectstatic, then you probably don't need or want to include staticfiles/
# in your Git repository. Update and uncomment the following line accordingly.
# <django-project-name>/staticfiles/

### Django.Python Stack ###
# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo

# Django stuff:

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
.idea/
.claude/
/web/staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
/web/staticfiles/admin/css/vendor/select2/select2.css
/web/staticfiles/admin/css/vendor/select2/select2.min.css
/web/staticfiles/admin/css/autocomplete.css
/web/staticfiles/admin/css/base.css
/web/staticfiles/admin/css/changelists.css
/web/staticfiles/admin/css/dark_mode.css
/web/staticfiles/admin/css/dashboard.css
/web/staticfiles/admin/css/forms.css
/web/staticfiles/admin/css/login.css
/web/staticfiles/admin/css/nav_sidebar.css
/web/staticfiles/admin/css/responsive.css
/web/staticfiles/admin/css/responsive_rtl.css
/web/staticfiles/admin/css/rtl.css
/web/staticfiles/admin/css/unusable_password_field.css
/web/staticfiles/admin/css/widgets.css
/web/staticfiles/admin/img/calendar-icons.svg
/web/staticfiles/admin/img/icon-addlink.svg
/web/staticfiles/admin/img/icon-alert.svg
/web/staticfiles/admin/img/icon-alert-dark.svg
/web/staticfiles/admin/img/icon-calendar.svg
/web/staticfiles/admin/img/icon-changelink.svg
/web/staticfiles/admin/img/icon-clock.svg
/web/staticfiles/admin/img/icon-debug.svg
/web/staticfiles/admin/img/icon-debug-dark.svg
/web/staticfiles/admin/img/icon-deletelink.svg
/web/staticfiles/admin/img/icon-hidelink.svg
/web/staticfiles/admin/img/icon-info.svg
/web/staticfiles/admin/img/icon-info-dark.svg
/web/staticfiles/admin/img/icon-no.svg
/web/staticfiles/admin/img/icon-no-dark.svg
/web/staticfiles/admin/img/icon-unknown.svg
/web/staticfiles/admin/img/icon-unknown-alt.svg
/web/staticfiles/admin/img/icon-viewlink.svg
/web/staticfiles/admin/img/icon-yes.svg
/web/staticfiles/admin/img/icon-yes-dark.svg
/web/staticfiles/admin/img/inline-delete.svg
/web/staticfiles/admin/img/README.md
/web/staticfiles/admin/img/search.svg
/web/staticfiles/admin/img/selector-icons.svg
/web/staticfiles/admin/img/sorting-icons.svg
/web/staticfiles/admin/img/tooltag-add.svg
/web/staticfiles/admin/img/tooltag-arrowright.svg
/web/staticfiles/admin/js/admin/DateTimeShortcuts.js
/web/staticfiles/admin/js/admin/RelatedObjectLookups.js
/web/staticfiles/admin/js/vendor/jquery/jquery.js
/web/staticfiles/admin/js/vendor/jquery/jquery.min.js
/web/staticfiles/admin/js/vendor/jquery/LICENSE.txt
/web/staticfiles/admin/js/vendor/select2/i18n/af.js
/web/staticfiles/admin/js/vendor/select2/i18n/ar.js
/web/staticfiles/admin/js/vendor/select2/i18n/az.js
/web/staticfiles/admin/js/vendor/select2/i18n/bg.js
/web/staticfiles/admin/js/vendor/select2/i18n/bn.js
/web/staticfiles/admin/js/vendor/select2/i18n/bs.js
/web/staticfiles/admin/js/vendor/select2/i18n/ca.js
/web/staticfiles/admin/js/vendor/select2/i18n/cs.js
/web/staticfiles/admin/js/vendor/select2/i18n/da.js
/web/staticfiles/admin/js/vendor/select2/i18n/de.js
/web/staticfiles/admin/js/vendor/select2/i18n/dsb.js
/web/staticfiles/admin/js/vendor/select2/i18n/el.js
/web/staticfiles/admin/js/vendor/select2/i18n/en.js
/web/staticfiles/admin/js/vendor/select2/i18n/es.js
/web/staticfiles/admin/js/vendor/select2/i18n/et.js
/web/staticfiles/admin/js/vendor/select2/i18n/eu.js
/web/staticfiles/admin/js/vendor/select2/i18n/fa.js
/web/staticfiles/admin/js/vendor/select2/i18n/fi.js
/web/staticfiles/admin/js/vendor/select2/i18n/fr.js
/web/staticfiles/admin/js/vendor/select2/i18n/gl.js
/web/staticfiles/admin/js/vendor/select2/i18n/he.js
/web/staticfiles/admin/js/vendor/select2/i18n/hi.js
/web/staticfiles/admin/js/vendor/select2/i18n/hr.js
/web/staticfiles/admin/js/vendor/select2/i18n/hsb.js
/web/staticfiles/admin/js/vendor/select2/i18n/hu.js
/web/staticfiles/admin/js/vendor/select2/i18n/hy.js
/web/staticfiles/admin/js/vendor/select2/i18n/id.js
/web/staticfiles/admin/js/vendor/select2/i18n/is.js
/web/staticfiles/admin/js/vendor/select2/i18n/it.js
/web/staticfiles/admin/js/vendor/select2/i18n/ja.js
/web/staticfiles/admin/js/vendor/select2/i18n/ka.js
/web/staticfiles/admin/js/vendor/select2/i18n/km.js
/web/staticfiles/admin/js/vendor/select2/i18n/ko.js
/web/staticfiles/admin/js/vendor/select2/i18n/lt.js
/web/staticfiles/admin/js/vendor/select2/i18n/lv.js
/web/staticfiles/admin/js/vendor/select2/i18n/mk.js
/web/staticfiles/admin/js/vendor/select2/i18n/ms.js
/web/staticfiles/admin/js/vendor/select2/i18n/nb.js
/web/staticfiles/admin/js/vendor/select2/i18n/ne.js
/web/staticfiles/admin/js/vendor/select2/i18n/nl.js
/web/staticfiles/admin/js/vendor/select2/i18n/pl.js
/web/staticfiles/admin/js/vendor/select2/i18n/ps.js
/web/staticfiles/admin/js/vendor/select2/i18n/pt.js
/web/staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
/web/staticfiles/admin/js/vendor/select2/i18n/ro.js
/web/staticfiles/admin/js/vendor/select2/i18n/ru.js
/web/staticfiles/admin/js/vendor/select2/i18n/sk.js
/web/staticfiles/admin/js/vendor/select2/i18n/sl.js
/web/staticfiles/admin/js/vendor/select2/i18n/sq.js
/web/staticfiles/admin/js/vendor/select2/i18n/sr.js
/web/staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
/web/staticfiles/admin/js/vendor/select2/i18n/sv.js
/web/staticfiles/admin/js/vendor/select2/i18n/th.js
/web/staticfiles/admin/js/vendor/select2/i18n/tk.js
/web/staticfiles/admin/js/vendor/select2/i18n/tr.js
/web/staticfiles/admin/js/vendor/select2/i18n/uk.js
/web/staticfiles/admin/js/vendor/select2/i18n/vi.js
/web/staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
/web/staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
/web/staticfiles/admin/js/vendor/select2/LICENSE.md
/web/staticfiles/admin/js/vendor/select2/select2.full.js
/web/staticfiles/admin/js/vendor/select2/select2.full.min.js
/web/staticfiles/admin/js/vendor/xregexp/LICENSE.txt
/web/staticfiles/admin/js/vendor/xregexp/xregexp.js
/web/staticfiles/admin/js/vendor/xregexp/xregexp.min.js
/web/staticfiles/admin/js/actions.js
/web/staticfiles/admin/js/autocomplete.js
/web/staticfiles/admin/js/calendar.js
/web/staticfiles/admin/js/cancel.js
/web/staticfiles/admin/js/change_form.js
/web/staticfiles/admin/js/core.js
/web/staticfiles/admin/js/filters.js
/web/staticfiles/admin/js/inlines.js
/web/staticfiles/admin/js/jquery.init.js
/web/staticfiles/admin/js/nav_sidebar.js
/web/staticfiles/admin/js/popup_response.js
/web/staticfiles/admin/js/prepopulate.js
/web/staticfiles/admin/js/prepopulate_init.js
/web/staticfiles/admin/js/SelectBox.js
/web/staticfiles/admin/js/SelectFilter2.js
/web/staticfiles/admin/js/theme.js
/web/staticfiles/admin/js/urlify.js
/web/staticfiles/gallery/css/style.css
/web/staticfiles/rest_framework/css/bootstrap.min.css
/web/staticfiles/rest_framework/css/bootstrap.min.css.map
/web/staticfiles/rest_framework/css/bootstrap-theme.min.css
/web/staticfiles/rest_framework/css/bootstrap-theme.min.css.map
/web/staticfiles/rest_framework/css/bootstrap-tweaks.css
/web/staticfiles/rest_framework/css/default.css
/web/staticfiles/rest_framework/css/font-awesome-4.0.3.css
/web/staticfiles/rest_framework/css/prettify.css
/web/staticfiles/rest_framework/docs/css/base.css
/web/staticfiles/rest_framework/docs/css/highlight.css
/web/staticfiles/rest_framework/docs/css/jquery.json-view.min.css
/web/staticfiles/rest_framework/docs/img/favicon.ico
/web/staticfiles/rest_framework/docs/img/grid.png
/web/staticfiles/rest_framework/docs/js/api.js
/web/staticfiles/rest_framework/docs/js/highlight.pack.js
/web/staticfiles/rest_framework/docs/js/jquery.json-view.min.js
/web/staticfiles/rest_framework/fonts/fontawesome-webfont.eot
/web/staticfiles/rest_framework/fonts/fontawesome-webfont.svg
/web/staticfiles/rest_framework/fonts/fontawesome-webfont.ttf
/web/staticfiles/rest_framework/fonts/fontawesome-webfont.woff
/web/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.eot
/web/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.svg
/web/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.ttf
/web/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff
/web/staticfiles/rest_framework/fonts/glyphicons-halflings-regular.woff2
/web/staticfiles/rest_framework/img/glyphicons-halflings.png
/web/staticfiles/rest_framework/img/glyphicons-halflings-white.png
/web/staticfiles/rest_framework/img/grid.png
/web/staticfiles/rest_framework/js/ajax-form.js
/web/staticfiles/rest_framework/js/bootstrap.min.js
/web/staticfiles/rest_framework/js/coreapi-0.1.1.js
/web/staticfiles/rest_framework/js/csrf.js
/web/staticfiles/rest_framework/js/default.js
/web/staticfiles/rest_framework/js/jquery-3.7.1.min.js
/web/staticfiles/rest_framework/js/load-ajax-form.js
/web/staticfiles/rest_framework/js/prettify-min.js
